* {
  margin: 0;
  padding: 0;
}

body,
html {
  overflow-x: hidden;
}

.up-header {
  display: none;
}

#navbarNavDropdown {
  display: none;
  background-color: #333;
  width: 75%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

#navbarNavDropdown a {
  color: #fff;
  font-family: 'cocogoose', sans-serif;
  font-size: 20px;
  text-decoration: none;
  margin: 3px 50px;
}

.no-scroll {
  overflow: hidden;
}

.first-container {
  background-image: url('./images/mobile_intro_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding: 30px;
}

@font-face {
  font-family: cocogoose;
  src: url(./fonts/Cocogoose_trial.otf);
}

.first-container .information {
  font-family: 'cocogoose', sans-serif;
  justify-content: center;
}

.first-container .event-details .first-para {
  border: 5px solid white;
}

.first-container .info-home {
  color: #ec5242;
}

.first-container .info-home .heading1 {
  font-family: 'cocogoose', sans-serif;
  font-size: 60px;
}

.second-container {
  background-image: url('./images/pattern_bg.png');
  background-repeat: repeat;
  background-color: rgb(39, 42, 50);
  color: white;
}

.second-container .about-heading::after {
  content: "";
  border: 1px solid red;
  display: block;
  height: 2px;
  width: 50%;
  margin: 0 auto;
}

.second-container .program h3 {
  color: #ec5242;
}

.second-container .apply-btn {
  background: #ec5242;
  text-decoration: none;
  font-family: 'Cocogoose', sans-serif;
  color: white;
  padding: 12px;
}

.second-container .btn {
  margin-bottom: 10px;
}

.second-container .programs .program .cover-gradient-program .img-fluid img {
  width: 100%;
  height: auto;
}

.cover-gradient-program {
  background: linear-gradient(to top, rgb(102, 100, 100), #535050);
  opacity: 0.7;
  margin: 10px 20px;
  width: auto;
}

#close-ham-img {
  width: 25px;
  margin: 45px 0;
}

.speaker-section .speakers .speaker-info {
  margin-left: 10px;
  width: auto;
}

@media screen and (min-width: 769px) {
  .hamburger-page {
    display: none;
  }

  .up-header {
    display: flex;
    background-color: #272a31;
  }

  .up-header .content a {
    text-decoration: none;
    color: white;
    margin: 5px;
  }

  .hamburger-menu .container-fluid,
  #close-ham-img {
    display: none;
  }

  .hamburger-menu {
    margin: 0 10px;
  }
 
  .second-container .programs .program {
    width: calc(94% / 5);
  }

  .second-container .programs .program .div3 {
    width: 100% !important;
  }
}

@media screen and (max-width: 568px) {
  .second-container .programs .program .cover-gradient-program .div3 {
    width: 100% !important;
  }

  .speaker-section .speakers .speaker h5,
  p {
    font-size: 10px;
  }

  .speaker-section .img-fluid {
    max-height: 120px;
    max-width: 120px;
  }
}
